
# Uploaded SDF and Verilog files
fpgasim/backend/uploads_sdf/
fpgasim/backend/uploads_v/

# Parsed output files (e.g. .json from SDF parsing)
backend/parsed_sdf/
backend/parsed_json/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
